body{
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-family: 'Press Start 2P';
    user-select: none;
}

.container{
    width: 300px;
    height: 400px;
    border: rgb(231, 231, 231) 10px solid;
    border-radius: 2px;
    margin: auto;
    margin-top: 80px;
    background-color: #ffffff;
}  

.button{
    background-color: #ff0000;
    box-shadow: #7a0000 3px 3px 1px;
    font-family: 'Press Start 2P';
    width: 200px;
    height: 60px;
    font-size: 12px;
    border: none;
    color: #ffffff;
    border-radius: 2px;
    margin-bottom: 20px;
}
.button:hover{
    background-color: #e30000;
}
.button:active{
    background-color: #a70909;
    margin: 0px 10px 20px 20px;
    box-shadow: none;
}
.button-reset{
    background-color: #ff0000;
    font-family: 'Press Start 2P';
    width: 120px;
    height: 60px;
    font-size: 18px;
    color: #ffffff;
    box-shadow: #7a0000 3px 3px 1px;
    border-radius: 2px;
    border: none;
}
.button-reset:hover{
    background-color: #ff0000;
    color: #ffffff;
    transition: 0.1s;
}
.button-reset:active{
    background-color: #a70909;
    margin: 0px 5px 10px 10px;
    box-shadow: none;
}
.counter{
    text-align: center;
    color: #000000;
    font-size: 50px;
    padding: 70px 0px 80px 0px;
}

